nav {
  padding: 25px;

  ul {
    display: flex;
    justify-content: center;
    width: 70%;
    height: 100%;
    align-items: center;
    margin: 0 auto;

    li {
      list-style: none;
      flex-grow: 1;
      text-align: center;
      font-size: 15px;

      &:nth-child(3) {
        font-size: 30px;
      }
      a {
        text-decoration: none;
        color: $black;
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        text-transform: uppercase;
      }
    }
  }
}
.collapsible-menu {
  display: none;
  position: absolute;
  z-index: 10000;
  width: 100px;
  height: 400px;

  .menu-content {
    max-height: 0;
    overflow: hidden;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    color: $black;
    text-transform: uppercase;
    padding: 50px 0 0 30px;
  }
  ul {
    list-style-type: none;
  }
  a {
    display: block;
    padding: 20px 0;
    text-decoration: none;
  }
  label {
    top: 0;
    left: 15px;
    position: absolute;
    cursor: pointer;
    margin: 20px 0 10px 0;

    &::before {
      z-index: -1;
      content: "";
      position: absolute;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: #fff;
      top: -10px;
      left: -12px;
    }
  }
  #menu {
    display: none;
  }
  input:checked ~ .menu-content {
    max-height: 100%;
  }
  input:checked ~ label::before {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.colorWhite {
  color: #fff;
}
