nav {
  padding: 25px;

  ul {
    display: flex;
    justify-content: center;
    width: 70%;
    height: 100%;
    align-items: center;
    margin: 0 auto;

    li {
      list-style: none;
      flex-grow: 1;
      text-align: center;
      font-size: 15px;

      &:nth-child(3) {
        font-size: 30px;
      }
      a {
        text-decoration: none;
        color: #000;
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        text-transform: uppercase;
      }
      &:first-child a {
        color: #fff;
      }
    }
  }
}
.collapsible-menu {
  display: none;
  position: absolute;
  z-index: 10000;
  width: 400px;
  height: 400px;
  .menu-content {
    max-height: 0;
    overflow: hidden;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
    padding: 50px 0 0 30px;
  }
  ul {
    list-style-type: none;
  }
  a {
    display: block;
    padding: 20px 0;
    text-decoration: none;
  }
  label {
    top: 0;
    left: 15px;
    position: absolute;
    cursor: pointer;
    margin: 20px 0 10px 0;
  }
  #menu {
    display: none;
  }
  input:checked ~ .menu-content {
    max-height: 100%;
  }
}

@media (max-width: 1024px) {
  h1 {
    text-align: center;
  }
  nav {
    ul {
      width: 80%;
    }
  }
}

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  nav {
    ul {
      width: 95%;
    }
  }
}

/* Landscape phones and down */
@media (max-width: 450px) {
  nav {
    display: none;
  }
  .collapsible-menu {
    display: block;
  }
}
