nav {
  padding: 25px;

  ul {
    display: flex;
    justify-content: center;
    width: 70%;
    height: 100%;
    align-items: center;
    margin: 0 auto;
    border: red 1px solid;

    li {
      list-style: none;
      flex-grow: 1;
      text-align: center;
      font-size: 15px;

      &:nth-child(3) {
        font-size: 30px;
      }
      a {
        text-decoration: none;
        color: #000;
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        text-transform: uppercase;
      }
      &:first-child a {
        color: #fff;
      }
    }
  }
}

@media (max-width: 1024px) {
  nav {
    ul {
      width: 70%;
    }
  }
}

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  nav {
    ul {
      width: 75%;
    }
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {
  nav {
    display: none;
  }
}
