.blog {
  background-color: $white-shade;

  h1 {
    font-size: 70px;
    margin-top: -50px;
  }
  .blogBody {
    display: flex;
    padding: 100px 0;
    .aside {
      @include flex-column();

      flex-basis: 35%;
      margin-right: 50px;
      aside {
        background-color: #fff;
        margin-bottom: 25px;
        padding: 30px;
        h4 {
          padding: 10px 0;
        }
      }
      .recentPosts {
        ul {
          padding-left: 10px;
          list-style: none;
          li {
            margin-bottom: 5px;

            &::before {
              content: "\2022";
              color: $orangey-yellow;
              display: inline-block;
              width: 15px;
            }
          }
        }
      }
    }
    .article {
      flex-basis: 65%;
      article {
        background-color: #fff;
        padding: 30px;
        margin-bottom: 50px;
        &:nth-child(odd) {
          position: relative;
          &::before {
            content: "";
            width: 100%;
            height: 5px;
            background-color: $orangey-yellow;
            position: absolute;
            bottom: 0;
            left: 0;
          }
        }
        &:not(:first-child) {
          display: flex;
          figure {
            flex-basis: 60%;
            margin-right: 15px;
          }
        }
        p {
          padding-bottom: 10px;
        }
      }
    }
  }
}
