@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@700&family=Roboto:wght@400;700&display=swap");
h1 {
  font-family: "Lora", sans-serif;
  font-weight: 700;
  font-size: 8rem;
  line-height: 90px;
  letter-spacing: 0px;
  text-transform: uppercase;
}

h2 {
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 2.2rem;
  text-transform: uppercase;
}

h3 {
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 1.7rem;
  text-transform: uppercase;
}

h4 {
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 32px;
  letter-spacing: 0px;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 1px;
}

.emphasis {
  color: #285e64;
  font-weight: 700;
  font-style: italic;
}

.strong {
  color: #285e64;
  font-weight: 700;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  overflow-x: hidden;
}

html {
  font-size: 16px;
}

img {
  display: block;
  max-width: 100%;
}

.wrapper {
  margin: 0 auto;
  width: 80%;
  max-width: 1200px;
}

button {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
button:hover, button:focus {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}
button:active {
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

.navHover {
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}
.navHover:hover {
  color: #fff;
}

.borderLink {
  -webkit-transition: border 0.1s;
  transition: border 0.1s;
}
.borderLink:hover {
  border-bottom: 2px solid #f6a823;
}

button {
  text-align: center;
  background-color: #05afc1;
  border: none;
  padding: 2px 10px;
  text-transform: uppercase;
  cursor: pointer;
}

form {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
}
form .inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
form .inputs div {
  -ms-flex-preferred-size: 49%;
      flex-basis: 49%;
}
form .inputs div input {
  width: 100%;
  height: 45px;
  padding-left: 10px;
}
form textarea {
  margin: 20px 0;
  height: 300px;
  padding: 25px 10px;
  resize: none;
}

nav {
  padding: 25px;
}
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 70%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}
nav ul li {
  list-style: none;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
  font-size: 15px;
}
nav ul li:nth-child(3) {
  font-size: 30px;
}
nav ul li a {
  text-decoration: none;
  color: #2c2c2c;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.collapsible-menu {
  display: none;
  position: absolute;
  z-index: 10000;
  width: 100px;
  height: 400px;
}
.collapsible-menu .menu-content {
  max-height: 0;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: #2c2c2c;
  text-transform: uppercase;
  padding: 50px 0 0 30px;
}
.collapsible-menu ul {
  list-style-type: none;
}
.collapsible-menu a {
  display: block;
  padding: 20px 0;
  text-decoration: none;
}
.collapsible-menu label {
  top: 0;
  left: 15px;
  position: absolute;
  cursor: pointer;
  margin: 20px 0 10px 0;
}
.collapsible-menu label::before {
  border-radius: 50%;
  top: -10px;
  left: -12px;
  content: "";
  background-color: #fff;
  width: 50px;
  height: 50px;
  position: absolute;
  z-index: -1;
}
.collapsible-menu #menu {
  display: none;
}
.collapsible-menu input:checked ~ .menu-content {
  max-height: 100%;
}
.collapsible-menu input:checked ~ label::before {
  background-color: rgba(0, 0, 0, 0.5);
}

.colorWhite {
  color: #fff;
}

.home {
  background-color: #f0efed;
}
.home .who {
  padding: 150px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.home p {
  width: 80%;
  margin: 20px 0;
}

.articles {
  position: relative;
  z-index: 9999;
  height: 95vh;
}
.articles .article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.articles .article .articleImg {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
.articles .article article {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
.articles .article article p {
  padding: 15px 0;
}
.articles .article1 article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 25px 0 25px 100px;
}
.articles .article1 article button {
  -ms-flex-item-align: start;
      align-self: start;
}
.articles .article1 .articleImg {
  position: relative;
  top: -40px;
}
.articles .article1 .articleImg::before {
  top: 20px;
  right: -20px;
  content: "";
  background-color: #a82706;
  width: 150%;
  height: 100%;
  position: absolute;
  z-index: -1;
}
.articles .article2 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.articles .article2 .articleImg {
  position: relative;
  bottom: -80px;
  z-index: -1;
}
.articles .article2 .articleImg::before {
  content: "";
  background-color: #f6a823;
  width: 150%;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 20px;
  left: 20px;
}
.articles .article2 article {
  padding: 50px 50px 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: end;
}

.moreLinks {
  background-color: #f0efed;
  padding: 75px 0;
}
.moreLinks .wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.moreLinks .wrapper .linksRow {
  padding-top: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.moreLinks .wrapper .linksRow .link {
  padding-right: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.moreLinks .wrapper .linksRow .link .photosDesc {
  padding-left: 35px;
}
.moreLinks .wrapper .linksRow .link .photosDesc p {
  padding: 25px 0;
}
.moreLinks .wrapper .linksRow .link .photosIcon {
  position: relative;
  z-index: 9999;
}
.moreLinks .wrapper .linksRow .link .photosIcon::before {
  content: "";
  background-color: #f6a823;
  width: 70px;
  height: 70px;
  position: absolute;
  z-index: -1;
  border-radius: 50%;
  top: -17px;
  left: -17px;
}

.backgroundImgClassroom {
  width: 100%;
  height: 500px;
  background-image: url(../../assets/home-image-4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
}

.journey {
  background-color: #f0efed;
}
.journey article {
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.journey article figure {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  position: relative;
  z-index: 1;
}
.journey article figure::before {
  content: "";
  background-color: #f6a823;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 15px;
  left: 15px;
}
.journey article .journeyDesc {
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
  padding-left: 100px;
}
.journey article .journeyDesc p {
  padding: 25px 0;
}

.travelPhotos {
  padding: 100px 0;
}
.travelPhotos .wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
}

.contact {
  background-color: #f0efed;
}
.contact h1 {
  font-size: 70px;
  margin-top: -50px;
}
.contact .contactForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px 0;
}
.contact .contactForm .contacts {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  margin-right: 25px;
  padding: 0 20px;
  height: 300px;
}
.contact .contactForm .contacts .socialMediaLinks {
  color: #f6a823;
  padding-bottom: 15px;
}
.contact .contactForm .contacts .socialMediaLinks i {
  padding-right: 23px;
}
.contact .contactForm .contacts .contactDesc .bold {
  font-size: 25px;
  font-weight: bold;
  padding: 10px 0;
}

.blog {
  background-color: #f0efed;
}
.blog h1 {
  font-size: 70px;
  margin-top: -50px;
}
.blog .blogBody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px 0;
}
.blog .blogBody .aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
  margin-right: 50px;
}
.blog .blogBody .aside aside {
  background-color: #fff;
  margin-bottom: 25px;
  padding: 30px;
}
.blog .blogBody .aside aside h4 {
  padding: 10px 0;
}
.blog .blogBody .aside .recentPosts ul {
  padding-left: 10px;
  list-style: none;
}
.blog .blogBody .aside .recentPosts ul li {
  margin-bottom: 5px;
}
.blog .blogBody .aside .recentPosts ul li::before {
  content: "•";
  color: #f6a823;
  display: inline-block;
  width: 15px;
}
.blog .blogBody .article {
  -ms-flex-preferred-size: 65%;
      flex-basis: 65%;
}
.blog .blogBody .article article {
  background-color: #fff;
  padding: 30px;
  margin-bottom: 50px;
}
.blog .blogBody .article article:nth-child(odd) {
  position: relative;
}
.blog .blogBody .article article:nth-child(odd)::before {
  content: "";
  width: 100%;
  height: 5px;
  background-color: #f6a823;
  position: absolute;
  bottom: 0;
  left: 0;
}
.blog .blogBody .article article:not(:first-child) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.blog .blogBody .article article:not(:first-child) figure {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  margin-right: 15px;
}
.blog .blogBody .article article p {
  padding-bottom: 10px;
}

header .title {
  display: none;
}
header .blogHeader,
header .contactHeader {
  background-color: #f6a823;
}
header .header {
  background-color: #f6a823;
}
header .mainHeader {
  height: 90vh;
  background-color: #f6a823;
}
header .mainHeader .headerTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .mainHeader .headerTitle .sophieTitle {
  position: relative;
  height: 250px;
  padding: 75px 0 0 50px;
}
header .mainHeader .headerTitle .circleText {
  position: absolute;
  width: 200px;
  top: 0;
  left: 0px;
}
header .mainHeader .headerTitle .sophieImg {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  position: relative;
  z-index: 9999;
  top: 50px;
  left: -20px;
}
header .mainHeader .headerTitle .sophieImg img {
  max-width: 100%;
  max-height: 100%;
}
header .mainHeader .headerTitle .sophieImg::after {
  content: "";
  background-color: white;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 20px;
  top: 20px;
  z-index: -1;
}

footer {
  background-color: #2c2c2c;
  color: #f6f6f6;
  text-align: center;
}

@media (max-width: 1024px) {
  html {
    font-size: 14px;
  }

  .wrapper {
    width: 90%;
  }

  h1 {
    text-align: center;
    font-size: 8rem;
  }

  header .mainHeader .headerTitle .sophieTitle {
    padding: 90px 0 0 40px;
  }
  header .mainHeader .headerTitle .circleText {
    width: 150px;
    top: 40px;
  }

  .home .who {
    padding: 100px 0;
  }

  .articles .article1 article {
    padding: 50px 0 25px 75px;
  }
  .articles .article1 .articleImg::before {
    height: 95%;
  }
  .articles .article2 .articleImg {
    bottom: -60px;
  }
  .articles .article2 .articleImg::before {
    height: 95%;
  }

  .moreLinks {
    padding: 50px 0;
  }
  .moreLinks .wrapper .linksRow .link .photosDesc p {
    padding: 15px 0;
  }

  .backgroundImgClassroom {
    height: 400px;
  }

  .journey {
    background-color: #f0efed;
  }
  .journey article figure {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
  .journey article .journeyDesc {
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
  }
  .journey article .journeyDesc p {
    padding: 15px 0;
  }
}
/* Portrait tablet and small desktops */
@media (max-width: 940px) {
  html {
    font-size: 12px;
  }

  .wrapper {
    width: 90%;
  }

  header .mainHeader {
    height: 75vh;
  }
  header .mainHeader .headerTitle .sophieTitle {
    padding: 70px 0 0 30px;
  }
  header .mainHeader .headerTitle .circleText {
    width: 130px;
    top: 35px;
  }
  header .mainHeader .headerTitle .sophieImg {
    top: 15px;
  }

  .home .who {
    padding: 100px 0;
  }

  .articles {
    height: 90vh;
  }
  .articles .article1 {
    padding-bottom: 0px;
  }
  .articles .article1 article {
    padding: 30px 0 45px 75px;
  }
  .articles .article1 .articleImg::before {
    height: 90%;
  }
  .articles .article2 .articleImg {
    bottom: -55px;
  }
  .articles .article2 .articleImg::before {
    height: 90%;
  }

  .moreLinks {
    margin-top: -25px;
    padding: 40px 0;
  }
  .moreLinks .wrapper .linksRow .link .photosDesc p {
    padding: 15px 0;
  }

  .backgroundImgClassroom {
    height: 400px;
  }

  .journey {
    background-color: #f0efed;
  }
  .journey article figure {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
  .journey article .journeyDesc {
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
  }
  .journey article .journeyDesc p {
    padding: 15px 0;
  }
}
/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  html {
    font-size: 10px;
  }

  p {
    font-size: 1.5rem;
  }

  nav ul {
    width: 95%;
  }

  header .mainHeader {
    height: 65vh;
  }

  .articles {
    position: static;
    height: 145vh;
  }
  .articles .article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 50px 0;
  }
  .articles .article .articleImg {
    width: 50%;
    padding-bottom: 25px;
  }
  .articles .article1 article {
    padding: 0px;
  }
  .articles .article1 .articleImg {
    position: static;
  }
  .articles .article2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .articles .article2 .articleImg {
    position: static;
  }
  .articles .article2 article {
    padding: 0;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: start;
  }

  .moreLinks {
    margin-top: 0px;
    padding: 0;
    padding-bottom: 50px;
  }
  .moreLinks .wrapper .linksRow .link .photosDesc p {
    padding: 10px 0;
  }
  .moreLinks .wrapper .linksRow .link .photosIcon::before {
    width: 50px;
    height: 50px;
    top: -16px;
    left: -14px;
  }

  .journey article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .journey article figure {
    padding-bottom: 50px;
  }
  .journey article figure::before {
    display: none;
  }
  .journey article .journeyDesc p {
    padding: 15px 0;
  }
}
/* Landscape phones and down */
@media (max-width: 450px) {
  nav {
    display: none;
  }

  .collapsible-menu {
    display: block;
  }

  .title {
    display: inline-block;
    color: #fff;
    padding: 50px 25px 0 0;
  }

  h1 {
    font-size: 5rem;
  }

  header .mainHeader {
    height: 85vh;
  }
  header .mainHeader .headerTitle {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin: 0 auto;
    height: 100vh;
    position: relative;
  }
  header .mainHeader .headerTitle .sophieTitle {
    padding: 0;
    position: absolute;
    top: 60%;
    left: calc(25% / 2);
  }
  header .mainHeader .headerTitle .sophieImg {
    position: absolute;
    top: 12%;
    left: 35%;
    width: 55%;
  }
  header .mainHeader .headerTitle .circleText {
    width: 120px;
    top: -25px;
    left: -30px;
  }

  .blogHeader,
.contactHeader {
    height: 50vh;
  }

  .backgroundImgSophie {
    padding-top: 100px;
  }

  .blog h1,
.contact h1 {
    margin-top: 0;
    padding-top: 50px;
  }

  .home .who {
    padding: 50px 0;
    text-align: center;
  }
  .home .who p {
    width: auto;
  }

  .articles {
    height: 150vh;
  }
  .articles .article {
    text-align: center;
  }
  .articles .article .articleImg {
    width: 80%;
    padding-bottom: 40px;
  }
  .articles .article1 article {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .articles .article1 article button {
    -ms-flex-item-align: center;
        align-self: center;
  }
  .articles .article1 .articleImg::before {
    display: none;
  }
  .articles .article2 article {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .articles .article2 .articleImg::before {
    display: none;
  }

  .moreLinks {
    padding: 75px 0;
  }
  .moreLinks .wrapper .linksRow {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 0;
  }
  .moreLinks .wrapper .linksRow .link {
    padding-right: 0;
  }
  .moreLinks .wrapper .linksRow .link .photosDesc {
    padding: 25px;
  }
  .moreLinks .wrapper .linksRow .link .photosDesc p {
    padding: 25px 0;
  }
  .moreLinks .wrapper .linksRow .link .photosIcon {
    left: 0px;
    top: 26px;
  }
  .moreLinks .wrapper .linksRow .link .photosIcon::before {
    width: 50px;
    height: 50px;
    left: -15px;
  }

  .backgroundImgClassroom {
    height: 250px;
  }

  .journey {
    background-color: #f0efed;
  }
  .journey article figure {
    padding-bottom: 50px;
  }
  .journey article figure::before {
    display: none;
  }
  .journey article .journeyDesc {
    text-align: center;
    padding-left: 0px;
  }
  .journey article .journeyDesc p {
    padding: 15px 0;
  }

  .travelPhotos .wrapper {
    display: block;
  }
  .travelPhotos .wrapper .travelPhoto {
    padding-bottom: 25px;
  }

  .contact .contactForm {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .contact .contactForm .contacts {
    margin-top: 50px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 25px 0px;
    width: 100%;
  }
  .contact .contactForm .contacts .socialMediaLinks i {
    padding-right: 35px;
  }

  .blog .blogBody {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 50px 0;
  }
  .blog .blogBody .aside {
    margin-right: 0px;
  }
  .blog .blogBody .aside aside {
    padding: 30px;
  }
  .blog .blogBody .aside aside h4 {
    padding: 25px 0 15px 0;
    text-align: center;
  }
  .blog .blogBody .aside .recentPosts h4 {
    padding: 0 0 15px 0;
  }
  .blog .blogBody .aside .recentPosts a {
    font-family: inherit;
    font-size: 1.5rem;
  }
  .blog .blogBody .article article:not(:first-child) figure {
    -ms-flex-preferred-size: 150%;
        flex-basis: 150%;
  }
}